/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 42px;
    font-weight: bold;
}

header .cart button {
    background-color: #28a745;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

/* Product List Styles */
main {
    padding: 20px;
}

.product-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 20px;
    height: 250px;
}

.product-item {
    border: 1px solid #ccc;
    padding: 15px;
    width: 350px;
    height: 600px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.product-item img {
    width: 100%;
    border-radius: 5px;
}

.product-item h3 {
    margin: 10px 0;
}

.product-item p {
    color: #333;
}

.product-item .add-to-cart {
    background-color: #007bff;
    color: white;
   
    width: 200px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* Cart Modal Styles */
.cart-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}

#cart-items {
    max-height: 200px;
    overflow-y: auto;
    margin-bottom: 20px;
}

button {
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

#checkout-btn {
    background-color: #28a745;
    color: white;
}

#close-btn {
    background-color: #dc3545;
    color: white;
    margin-top: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .product-list {
        flex-direction: column;
        align-items: center;
    }
}